{% extends 'base.html' %}
{% load i18n %}
{% load sources_extras %}

{% block main %}

<style>
    table {
        width: 100%;
    }
    tr {
        border: 15px solid transparent;
    }
    .detail-label {
        width: 30%;
        font-weight: bold;
        padding-right: 15px;
    }
    .value {
        width: 70%;
    }
    .media-icon {
        margin-right: 10px;
    }
    .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<script>
    $(function(){
        var text = {% trans 'Are you experienced or interested in being a source for the following type of media?' %};
        var html = '<p>' + text + '</p>';
        $(".mediaicon i.'fa']").hover(html);
    });
</script>

{% include "return_links.html" %}

<div class="jumbotron">
    <h1>{{ person }}</h1>
        <p class="lead">
            {% if person.title %}
                {{ person.title }}
            {% endif %}
            {% if person.title and person.organization %}
            &nbsp;/&nbsp;
            {% endif %}
            {% if person.organization %}
                {{ person.organization }}
            {% endif %}
        </p>
</div>

<div class="main-content lead">
    <table>
        {% if person.pronouns %}
        <tr>
            <td class="detail-label">{% trans 'Pronouns' %}</td>
            <td class="value">{{ person.pronouns }}</td>
        </tr>
        {% endif %}
        {% if person.type_of_expert %}
        <tr>
            <td class="detail-label">{% trans 'Type of expert' %}</td>
            <td class="value">{{ person.type_of_expert }}</td>
        </tr>
        {% endif %}
        {% if person.website %}
        <tr>
            <td class="detail-label">{% trans 'Website' %}</td>
            <td class="value"><a href="{{ person.website }}">{{ person.website }}</a></td>
        </tr>
        {% endif %}
        {% if person.expertise %}
        <tr>
            <td class="detail-label">{% trans 'Expertise' %}</td>
            <td class="value">{{ person.expertise }}</td>
        </tr>
        {% endif %}
        {% if person.email_address %}
        <tr>
            <td class="detail-label">{% trans 'Email address' %}</td>
            <td class="value">
            {% if person.email_address_image %}
                <img src="/static/{{ person.email_address_image }}" />
            {% else %}
                {{ person.email_address|convert_special_characters_to_html_entities|safe }}</a>
            {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if person.phone_number_primary %}
        <tr>
            <td class="detail-label">{% trans 'Primary phone number' %}</td>
            <td class="value">
            {% if person.phone_number_primary_image %}
                <img src="/static/{{ person.phone_number_primary_image }}" />
            {% else %}
                {{ person.phone_number_primary|convert_special_characters_to_html_entities|safe }}
            {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if person.phone_number_secondary %}
        <tr>
            <td class="detail-label">{% trans 'Secondary phone number' %}</td>
            <td class="value">
            {% if person.phone_number_secondary_image %}
                <img src="/static/{{ person.phone_number_secondary_image }}" />
            {% else %}
                {{ person.phone_number_secondary|convert_special_characters_to_html_entities|safe }}
            {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if person.skype %}
        <tr>
            <td class="detail-label">{% trans 'Skype username' %}</td>
            <td class="value">{{ person.skype }}</td>
        </tr>
        {% endif %}
        {% if person.twitter %}
        <tr>
            <td class="detail-label">{% trans 'Twitter' %}</td>
            <td class="value"><a href="https://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a></td>
        </tr>
        {% endif %}
        {% if person.language %}
        <tr>
            <td class="detail-label">{% trans 'Language' %}</td>
            <td class="value">{{ person.language }}</td>
        </tr>
        {% endif %}
        {% if person.timezone %}
        <tr>
            <td class="detail-label">{% trans 'Time zone' %}</td>
            <td class="value">
                {% if person.timezone >= 1 %}
                    +{{ person.timezone }}
                {% else %}
                    {{ person.timezone }}
                {% endif %} GMT
            </td>
        </tr>
        {% endif %}
        {% if person.city %}
        <tr>
            <td class="detail-label">{% trans 'City' %}</td>
            <td class="value">{{ person.city }}</td>
        </tr>
        {% endif %}
        {% if person.state %}
        <tr>
            <td class="detail-label">{% trans 'State' %}</td>
            <td class="value">{{ person.state }}</td>
        </tr>
        {% endif %}
        {% if person.country %}
        <tr>
            <td class="detail-label">{% trans 'Country' %}</td>
            <td class="value">{{ person.country }}</td>
        </tr>
        {% endif %}
        {% if person.notes %}
        <tr>
            <td class="detail-label">{% trans 'Notes' %}</td>
            <td class="value">{{ person.notes }}</td>
        </tr>
        {% endif %}
        {% if person.media_video or person.media_video or person.media_text %}
        <tr>
            <td class="detail-label" style"white-space:pre;">{% trans 'Available for the following media' %}</td>
            <td class="value">
                {% if person.media_video %}
                    <span class="media-icon" title="Video">
                        <i class="fa fa-video-camera" aria-hidden="true" aria-label="Video icon"></i>
                    </span>
                {% endif %}
                {% if person.media_audio %}
                    <span class="media-icon" title="Audio">
                        <i class="fa fa-microphone" aria-hidden="true" aria-label="Audio icon"></i>
                    </span>
                {% endif %}
                {% if person.media_text %}
                    <span class="media-icon" title="Text">
                        <i class="fa fa-file-text-o" aria-hidden="true" aria-label="Text icon"></i>
                    </span>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% include "return_links.html" %}
{% endblock %}
