{% extends 'base.html' %}

{% block main %}

<style>
	table {
		width: 100%;
	}
	.detail-label {
		width: 20%;
		font-weight: bold;
	}
	.value {
		width: 80%;
	}
</style>

<h1>{{ person }}</h1>

<div class="lead">
	<table>
		<tr>
			<td class="detail-label">Type of Scientist</td>
			<td class="value">{{ person.type_of_scientist }}</td>
		</tr>
		<tr>
			<td class="detail-label">Organization</td>
			<td class="value">{{ person.organization }}</td>
		</tr>
		<tr>
			<td class="detail-label">Expertise</td>
			<td class="value">{{ person.expertise }}</td>
		</tr>
	</table>
</div>

{% endblock %}
