{% extends 'base.html' %}

{% block main %}

<div class="jumbotron">
    <h1 class="display-3">About</h1>
</div>
<div class="main-content">
	<p class="lead">We’re creating a database of minority and female scientists to address the lack of diverse perspectives represented or cited in science writing.</p>
	<p class="lead">Mollie started working on this project for her own use after realizing she’d written several articles on a tight deadline and only quoted white males. This happens a lot in science reporting—even for topics like women’s health—and it means we’re missing out on important points of view.</p>
	<p class="lead">Apoorva Mandavilli, Editor in Chief of Spectrum said it best when she wrote, “Without diversity in newsrooms… entire stories are missed, and those that do get written have the same, tired perspectives, missing nuances of color, race, class, gender and ethnicity.” The same is true for sourcing.</p>
	<p class="lead">This database will make it easy for science communicators to reach out to minority and female scientists for more varied perspectives on their daily stories. By including underrepresented sources in our stories, we improve our coverage and show our readers that we care about including their voices.</p>
</div>

{% endblock %}
