{% extends 'base.html' %}

{% block main %}

<!-- <div class="jumbotron" style="height: 150px;">
    <h1 class="display-3">About</h1>
</di> -->
<div style="margin: 75px 0 35px 0;">
	<img src="//diversesources.org/static/images/about.jpg" style="width: 100%;" alt="Photo of female scientist Lego figures with a text overlay that says 'We need more diversity in journalism.'">
	<div style="float:right">Credit: <a href="https://www.flickr.com/photos/fallentomato/14755931489/in/photolist-otW1kT-djaDX1-otWohh-4xYzsZ-5FNsQF-pCLTqZ-aWZ4pn-aWYR8P-aWYV9n-pW529k-aWYVZa-mxy1Wd-e4rvge-3bgN9-aWZ2bD-hDRVXA-hDQycW-6zZirh-4EiTEB-aWZ7Cc-6zVbiR-axYyu7-oLoY9G-5FNshZ-8CAjHC-8iUPm7-aWYPYH-NZQuw-79SQJK-7rxVKN-hDQ58P-qgrTW-nLJ5gy-5JHhjp-5FSJcm-6zVcr8-aWYFZx-aWZ3jv-hDQvPi-hDTNJ2-hDS9vy-924rcp-aWYX48-axYyey-hDSAPU-8pkmr1-njxuaf-hDSGdu-hDX9ce-hDS9dN">BRICK 101</a></div>
	<!-- <img src="about-image.png" width="100%"> -->
</div>
<div class="main-content">
	<p class="lead">Diverse Sources is a searchable database of underrepresented experts in the areas of science, health and the environment. Anyone who considers themselves underrepresented and is willing to respond to journalists on deadline is encouraged to join (including but not limited to appearance, ethnicity, gender expression, gender identity, language, mental health experience, nationality, physical abilities, race, religion, sex, sexual orientation, etc.).</p>
	<p class="lead">This database aims to make it easy for journalists and others to include a wider range of backgrounds, experiences and perspectives in their work. By doing so, we can improve our coverage and better reflect the world we cover.</p>
	<p class="lead">Questions? Feedback? Want to help? <a href="/contact">Contact us!</a></p>
	<h3>Team</h3>
		<ul>
			<li class="lead"><a href="http://www.mbloudoff.com">Mollie Bloudoff-Indelicato</a> / project director</li>
			<li class="lead"><a href="http://www.greglinch.com">Greg Linch</a> / web developer</li>
		</ul>
	<h3>Technical advisers</h3>
		<ul>
			<li class="lead"><a href="https://nacin.com/">Andrew Nacin</a></li>
			<li class="lead"><a href="https://www.linkedin.com/in/kevinkoehler/">Kevin Koehler</a></li>
		</ul>
	<h3>Special thanks to</h3>
		<ul>
			<li class="lead">Nsikan Akpan</li>
			<li class="lead">Terra Hall</li>
			<li class="lead">Robin Lloyd</li>
			<li class="lead">Cindy Ramjeawan</li>
		</ul>
</div>

{% endblock %}
