{% extends 'base.html' %}
{% load i18n %}

{% block main %}

{% if 'report' in request.path %}
    {% include 'return_links.html' with profile_id=person.id %}
{% endif %}

<div class="jumbotron">
    {% if 'contact' in request.path %}
        <h1 class="display-3">{% trans 'Contact Us' %}</h1>
        <p class="lead">{% trans 'Have a question about this project? Want to help? Let us know!' %}</p>
    {% elif 'report' in request.path %}
        <h1 class="display-3">{% trans 'Report Outdated Profile' %}</h1>
        <p class="lead">{% trans 'Please help us keep the database current. Submit updated information for one or more fields below.' %}</p>
    {% endif %}
</div>
<div class="main-content lead">
    {% if not 'report' in request.path %}
        <p class="explanation">{% trans 'All fields required.' %}</p>
    {% else %}
        {% if person %}
            <p>Submitting for <a href="{% url 'source' pk=person.id slug=person.slug %}">{{ person }}</a>'s profile</p>
        {% endif %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if captcha_error %}
        <div class="alert alert-warning alert-dismissible show">
            {% blocktrans %}
                <strong>WARNING</strong>: Please complete the CAPTCHA to submit your form.
            {% endblocktrans %}
        </div>
        {% endif %}
        {{ form.errors }}
        {{ form }}
        <!-- CAPTCHA -->
        <div class="g-recaptcha" data-sitekey="6LdRFU8UAAAAAAKMOt7BIdvNaZnI_2ZLy0j_cFsA"></div>	
        <!-- submit button -->
        <input class="btn btn-primary" type="submit" {% blocktrans %} value="Submit" {% endblocktrans %} />
    </form>
</div>
{% endblock %}
