{% extends 'base.html' %}
{% load i18n %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-3">{% trans 'Contact Us' %}</h1>
    <p class="lead">{% trans 'Have a question about this project? Want to help? Let us know!' %}</p>
</div>
<div class="main-content lead">
    <form action="" method="POST">
        {% csrf_token %}
        {% if captcha_error %}
        <div class="alert alert-warning alert-dismissible show">
            {% blocktrans %}
                <strong>WARNING</strong>: Please complete the CAPTCHA to submit your form.
            {% endblocktrans %}
        </div>
        {% endif %}
        {{ form.errors }}
        {{ form }}
        <!-- CAPTCHA -->
        <div class="g-recaptcha" data-sitekey="6LdRFU8UAAAAAAKMOt7BIdvNaZnI_2ZLy0j_cFsA"></div>	
        <!-- submit button -->
        <input class="btn btn-primary" type="submit" {% blocktrans %} value="Submit" {% endblocktrans %} />
    </form>
</div>
{% endblock %}
