{% extends 'base.html' %}
{% load i18n %}

{% block main %}
<style>
    label {
        border-top: 15px solid transparent;
    }
    .explanation {
        font-size: 80%;
    }
</style>

<script>
    $(function(){
        // media type field
        var text = {% blocktrans %} "Are you experienced or interested in being a source for the following type of media?" {% endblocktrans %};
        var html = '<h3>' + text + '</h3>';
        $("label[for*='id_media_audio']").before(html);
    });
</script>

<div class="jumbotron">
    <h1 class="display-3">{% trans 'Join the Database' %}</h1>
    <p class="lead">{% trans 'Science, health and environment news stories need a broader set of perspectives. Sign up to be a source for reporters on deadline in this public database.' %}</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>
<div class="main-content lead">
    <p class="explanation">{% trans 'Required fields are marked with an asterisk (*). All information will be public. Questions? <a href="faqs">Read our FAQs</a>.' %}</p>
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p>Please correct the following errors below:</p>
            <ul class="errorlist top">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-fields">
            {{ form }}
        </div>
        <input class="btn btn-primary" type="submit" {% blocktrans %} value="Submit" {% endblocktrans %} />
    </form>
</div>
{% endblock %}
