{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-3">Join the database</h1>
    <p class="lead">Science, health and environment news stories need a broader set of perspectives. Sign up to be a source for reporters on deadline.</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>
<div class="main-content lead">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{ form.errors }} -->
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
