{% load i18n %}

<style>
    .grouping {
        height: 35px;
    }
    .return-to-db {
        float: left;
    }
    .report-outdated {
        float: right;
    }
</style>

<div class="grouping">
    <div class="return-to-db">
        <p><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            {% if '?' in request.META.HTTP_REFERER %}
                <a href="{{ request.META.HTTP_REFERER }}"> {% trans 'Return to results' %}</a>
            {% else %}
                <a href="/"> {% trans 'Return to database' %}</a>
            {% endif %}
        </p>
    </div>
    <div class="report-outdated dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans 'Report outdated profile' %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/report-outdated?id={{ profile_id }}">{% trans 'Submit outdated fields' %}</a>
        <a class="dropdown-item" href="/report-outdated?id={{ profile_id }}">{% trans 'Submit updated details' %}</a>
        <a class="dropdown-item" href="/report-update?id={{ profile_id }}">{% trans 'Update my profile' %}</a>
      </div>
    </div>
</div>