<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

<!-- DO NOT USE THIS -->
<!-- <li class="twitter-icon">
	<a href="https://twitter.com/lierseSources"><span class="icon-social-twitter"></span></a>
</li>
<li class="facebook-icon">
	<a href="https://www.facebook.com/lierseSources/"><span class="icon-social-facebook"></span></a>
</li>
<li class="instagram-icon">
	<a href="https://www.instagram.com/liersesources/"><span class="icon-social-instagram"></span></a>
</li> -->
<!-- USE THIS -->
<!-- <span class="social-icons">
	<li>
		<a href="https://twitter.com/lierseSources"><span class="icon-social-twitter"></span></a>
		<a href="https://www.facebook.com/lierseSources/"><span class="icon-social-facebook"></span></a>
		<a href="https://www.instagram.com/liersesources/"><span class="icon-social-instagram"></span></a>
	</li>
</span> -->
