<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

<!-- <span class="social-icons"> -->
	<li>
		<a href="https://twitter.com/DiverseSources">
			<span class="icon-social-twitter"></span>
		</a>
	</li>
	<li>
		<a href="https://www.facebook.com/DiverseSources/">
			<span class="icon-social-facebook"></span>
		</a>
	</li>
	<li>
		<a href="https://www.instagram.com/DiverseSources/">
			<span class="icon-social-instagram"></span>
		</a>
	</li>
<!-- </span> -->
