{% extends 'base.html' %}

{% block main %}
<style>

/*  form {
        width: 50%;
        margin: 0 auto;
    }   */

    input,
    label, .btn {
        display: block;
    }

/*  input {
        width: 50%;
    }*/

    input.btn {
        margin-top: 15px; 
    }

    br {
        display: none;
    }

    .helptext {
        font-size: 60%;
    }

/*  :required {
        font-weight: bold;
    }*/

</style>
<div class="jumbotron">
    <h1 class="display-3">Join the database</h1>
    <p class="lead">Science, health and environment news stories need a broader set of perspectives. Sign up to be a source for reporters on deadline.</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>
<div class="">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{ form.errors }} -->
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
