{% extends 'base.html' %}
{% load i18n %}

{% block main %}

    <div class="jumbotron">
        <h1 class="display-3">{% trans 'Thank you!' %}</h1>
    </div>

    {% if previous == 'report-update-mine' %}
        <p>{% trans 'Please check your email for a message that includes a link to update your profile.' %}</p>
        <p>{% trans 'If you no longer have access to that email account or have any other questions, please ' %}<a href="{% url 'contact' %}">{% trans 'contact us' %}</a>.</p>
    {% elif previous == 'report-update' %}
        <p>{% trans 'We will will review your report as soon as possible and contact you if we have any follow up questions.' %}</p>
    {% elif previous == 'join' %}
        <p>{% trans 'Please check your email and confirm your profile for it to appear on the site.' %}</p>
    {% elif existing %}
        <p>{% trans 'Your profile already exists. If you need to change any details, search your email for the initial message and click on the link to update the profile.' %} <!-- To request a new email be sent with your current details and link to edit, click here. --></p>
    {% endif %}

{% endblock %}
